article {
  display: grid;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;

  p {
    background-color: $blue-lighter;
    border-radius: 5px;
    display: flex;
    text-align: left;
    padding: 1em;
    margin-top: 1em;
  }

  code {
    display: block;
    white-space: pre-wrap;
    text-align: left;
    font-family: $font-code;
    font-size: 1.3em;
    font-weight: 600;
    background-color: $blue-darkest;
    color: $orange-light;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
  }

  ul {
    li {
      background-color: transparent;
      border: transparent;

      a {
        color: $blue-darkest;
        font-weight: 500;
      }
    }
    li:hover {
      background-color: $blue-darkest;
      a {
        color: $orange-lighter;
      }
    }
  }
}
