article {
  display: grid;
  justify-items: center;
  margin-top: 1em;
  padding: 1em;

  p {
    /* background-color: $blue-lighter;
    border-radius: 5px; */
    //display: flex;
    text-align: left;
    font-size: 1.1em;
    //padding: 1em;
    //margin-top: 1em;
  }

  h2 {
    background-image: linear-gradient(to bottom, #c8ddf8, white);
    border-radius: 5px;
    padding-left: .5em;
    padding-right: .5em;
  }

  code {
    display: block;
    white-space: pre-wrap;
    text-align: left;
    font-family: $font-code;
    font-size: 1.3em;
    font-weight: 600;
    background-color: $blue-darkest;
    color: $orange-light;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
  }

  ul {
    .links__article {
      background-color: transparent;
      border: transparent;
      //background-image: linear-gradient(to top, $blue-dark 30%, white);
      border-bottom: 2px solid $blue-darkest;

      a {
        color: $blue-darkest;
        font-weight: 500;
      }
    }

    .links__article:hover {
      background-image: none;
      background-color: $blue-darkest;
      transition: ease .6s background-color;
      //a {
        color: $orange-lighter;
     // }
    }
  }
}
