section {

  .section-heading {
    margin: 1em;
  }

  img {
    height: 50px;
  }

  h3 {
    font-size: 1em;
  }

  .content {
    display: flex;
  }
  /* .content-side {
    width: 30%;

    .lang-about {
      margin: .5em .5em .5em 0;
      padding: .3em;
      border: 2px solid $blue-lightest;
      border-radius: 3px;
      box-shadow: 0px 0px 3px 1px #6887aebf;
      background-color: $blue-lighter;
    }
  } */
  

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    margin: .5em 1em;
    //width: 70%;

    .articles__list {
      flex-shrink: 0;
      display: inline-block;
      
      background-color: $blue-lightest;
      color: $blue-darker;
      border-bottom: 1px solid $blue-dark;
      box-shadow: 0px 0px 5px 5px #c8ddf8bf;
      //border-radius: 5px;
      //margin: .5em;
      padding: .5em;
      
      width: 100%;
      text-align: left;
      //transform: rotate(-3deg);

      .article__short {
        display: grid;
        justify-content: left;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        align-items: center;
        grid-column-gap: .5em;
        grid-row-gap: .2em;

        .article__group-list {
          margin: 0;
          width: auto;
        }

        h4 {
          grid-area: 1 / 2 / 2 / 4;
        }

        .article__description {
          grid-area: 2 / 2 / 3 / 4;
        }

        .article__group {
          grid-area: 3 / 2 / 4 / 3;
          justify-self: baseline;
          background-color: $blue-darker;
          color: $blue-lightest;
          border-radius: 3px;
          padding: .1em .2em;
          font-size: smaller;
          cursor: pointer;
          margin-right: .5em;
        }

        .article__date {
          grid-area: 3 / 3 / 4 / 4;
          font-size: smaller;
        }

        svg {
          cursor: pointer;

          path {
            stroke: $blue-dark;
          }
        }
   
      }

      h4 {
        //transform: rotate(3deg);
        font-weight: 600;
        cursor: pointer;
      }
    }

    .articles__list:nth-last-child(1) {
      //transform: rotate(3deg);
      border-bottom: 1px solid transparent;
      h4 {
        //transform: rotate(-3deg);
      }
    }

    .links__article {
      background-color: transparent;
      border: transparent;
      margin: .5em;
      padding: 0 .5em;
      font-family: $font-stack;
      font-size: .8em;
      font-weight: 700 !important;
      //border-bottom: 2px solid $blue-darkest;
      border-radius: 5px;

      a {
        color: $blue-darkest;
        font-weight: 500;
      }
    }

    .articles__list:hover {
      background-color: $orange-light;
      color: $blue-darkest;
      //transform: rotate(0deg);
      transition: all .4s ease;
      h4:hover {
        color: $blue-dark;
        //transform: rotate(0deg);
      }
      .article__group:hover {
        background-color: $blue-dark;
      }

      svg:hover {
        path {
          stroke: $blue-lightest;
          fill: rgba(180, 180, 204, 0.336);
        }
      }
    }

    .links__article:hover {
      background-image: none;
      //background-color: $blue-darkest;
      

      a {
        //color: $orange-lighter;
        color: $blue-lightest;
        transition: ease .6s background-color;
      }
      #box {
        //background: $blue-darkest;
        transition: ease .6s background-color;
      }
    }
  }
  #cont{
    // background: -webkit-linear-gradient(top left, $blue-darker 0%, $blue-lighter 100%);
  /*   width: 300px;
    height: 300px; */
    //border-radius: 50%;
    //padding: .5em;
  }
  
  #box{
    //background: whitesmoke;
  /*   width: 290px;
    height: 290px; */
    //border-radius: 50%;
    //padding: .5em;
  }
}