section {

  .section-heading {
    margin: 1em;
  }

  img {
    height: 50px;
  }

  h3 {
    font-size: 1em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    margin: .5em;

    .articles__list {
      flex-shrink: 0;
      display: inline-block;
      
      background-color: $orange-main;
      color: $blue-darkest;
      border: 2px solid $blue-dark;
      border-radius: 5px;
      margin: .2em;
      padding: 0 .2em;
      cursor: pointer;
    }

    .links__article {
      background-color: transparent;
      border: transparent;
      margin: .2em;
      border-bottom: 2px solid $blue-darkest;
      border-radius: 5px;

      a {
        color: $blue-darkest;
        font-weight: 500;
      }
    }

    .articles__list:hover {
      background-color: $orange-light;
      color: $blue-darker;
    }

    .links__article:hover {
      background-image: none;
      background-color: $blue-darkest;
      transition: ease .6s background-color;

      a {
        color: $orange-lighter;
      }
    }
  }
}