main {
  grid-area: main;
  display: flex;
  //justify-content: center;
  flex-direction: column;
  //justify-self: center;
  margin-top: 50px;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
  }

  img {
    width: 70px;
  }
}



@media(max-width: 1279px) {
  .home {
    grid-template-columns: 1fr minmax(min-content, 3fr);
  }
}

@media(max-width: 1024px) {
  main {
    margin-top: 100px;
  }
}

@media(max-width: 700px) {
  .home {
    grid-template-columns: auto 1fr;
  }
}