aside {
  grid-area: sidenav;
  grid-column: auto;
  //margin-top: .2em;
  //padding: 0 .3em;
  background-color: $blue-light;
  //height: 100%;
  display: grid;
  justify-content: right;
  border-top: 5px solid $blue-lightest;
  border-bottom: 5px solid $blue-lightest;
  margin-top: 50px;

  ul {
    list-style-type: none;
    width: 150px;

    li {
      //display: none;
      align-items: center;
      //background-color: $blue-main;
      padding: .7em .5em .7em .3em;
      //margin: .2em 0;
      //border: 1px solid $blue-lighter;
      cursor: pointer;
      //border-radius: 5px;
 /*      -webkit-box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75); */
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      justify-content: right;
      transform: rotate(5deg);
      transition: ease-in-out .3s all;

      a {
        text-decoration: none;
        color: $blue-darker;
        font-weight: 400;
        margin: 0 .5em;
        transform: rotate( -5deg);
        justify-self: left;
      }
    
      img {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        -webkit-transform: rotate( -5deg);
        -moz-transform: rotate( -5deg);
        transform: rotate( -5deg);
        margin: 0 .5em;
      }
    }

    li::after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 5px;
      height: 100%;
      border-right: 5px solid transparent;
    }

    li:hover {
      background: $blue-lighter;
      transform: rotate(0);
      //border-bottom: 1px solid transparent;

      a {
        color: $blue-darkest;
        transform: rotate(0);
      }

      img {
        transform: rotate( 0deg);
      }
    }
  }
  
}

.selected-tech {
  //background: $blue-light;
  //display: flex;
}

.selected-lang {
  background: $blue-lighter;
  transform: rotate(0);

  img {
    transform: rotate( 0deg);
  }
  a {
    font-weight: 600;
    transform: rotate( 0deg);
  }
}

.selected-lang::after {
  border-right: 5px solid $orange-main;
}


@media(max-width: 700px) {
  #sidenav {
    width: 50px;

    ul {
      width: auto;
    }
    
    a {
      display: none;
    }
  }
}
