aside {
  grid-column: auto;
  //margin-top: .2em;
  //padding: 0 .3em;
  background-color: $blue-light;
  height: 100vh;
  //border-right: 1px solid $blue-main;

  ul {
    list-style-type: none;

    li {
      //display: none;
      align-items: center;
      //background-color: $blue-main;
      padding: .7em .5em;
      //margin: .2em 0;
      //border: 1px solid $blue-lighter;
      cursor: pointer;
      //border-radius: 5px;
 /*      -webkit-box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(200, 221, 248, 0.75); */
      
      transform: rotate(5deg);
      transition: ease-in-out .3s all;

      a {
        text-decoration: none;
        color: $blue-darker;
        font-weight: 600;
        margin-left: .5em;
        transform: rotate( -5deg);
      }
    
      img {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        -webkit-transform: rotate( -5deg);
        -moz-transform: rotate( -5deg);
        transform: rotate( -5deg);
      }
    }

    li:hover {
      background: $blue-lighter;
      transform: rotate(0);
      //border-bottom: 1px solid transparent;

      a {
        color: $blue-darkest;
        transform: rotate(0);
      }

      img {
        transform: rotate( 0deg);
      }
    }
  }
  
}

.selected-tech {
  //background: $blue-light;
  display: flex;
}

.selected-lang {
  background: $blue-dark;
  transform: rotate(0);
  img {
    transform: rotate( 0deg);
  }
  a {
    transform: rotate( 0deg);
  }
}

@media(max-width: 700px) {
  #sidenav {
    width: 50px;
    
    a {
      display: none;
    }
  }
}
