/* Colors */
$light-color: #e1f1f8;
$primary-color:  #2c3e50;
//$primary-color: #a7ceee;
$secondary-color: #3679dd;
$tertiary-color:  #dba81a;

$blue-lightest: #e3edfa;
$blue-lighter: rgb(200, 221, 248);
//$blue-light: #51cbe9;
$blue-light: #9fc4f5;
$blue-main: #5e9df0;
$blue-dark: rgb(42, 100, 177);
//$blue-main: #db11e2;
$blue-darker: #154380;
$blue-darkest: #1a2533;

$orange-lightest:  #f7efda;
$orange-lighter:  #f8d676;
$orange-light:  #eec34c;
$orange-main:  #dba81a;
$orange-dark:  #b38405;

$danger: #ec2323;
