@import 'base/config.scss';
@import 'config/typography.scss';
@import 'config/variables.scss';

@import 'components/home.scss';
@import 'components/header.scss';
@import 'components/sidenav.scss';
@import 'components/main.scss';
@import 'components/language.scss';
@import 'components/article.scss';
@import 'components/article_nav.scss';
@import 'components/article_modify.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
